@import url("https://fonts.googleapis.com/css?family=Hind+Madurai|Muli|Poppins|Quicksand|Raleway|Rubik|Ubuntu|Varela+Round");

body {
  font-family: "Muli", sans-serif;
  line-height: 1.7rem;
  font-weight: 100;
  letter-spacing: 2px;
}
