@import url("https://fonts.googleapis.com/css?family=Hind+Madurai|Muli|Poppins|Quicksand|Raleway|Rubik|Ubuntu|Varela+Round|Fredoka+One|Passion+One|Raleway");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.1;
  font-weight: 100;
  letter-spacing: 2px;
}

.page-heading {
  text-align: center;
  font-family: $font-main;
  font-weight: bold;
  font-size: $font-large;
  margin: 2.5rem 0 2.5rem 0;

  @include respond(phone) {
    font-size: 3.8rem;
    flex: 1;
  }
}

.page-heading-secondary {
  font-size: $font-medium;
  // font-family: $font-main;
  margin: 2.5rem 0 2.5rem 0;
  text-align: center;
}
