.mb-small {
  margin-bottom: $mb-small;
}

.mb-medium {
  margin-bottom: $mb-medium;
}

.mb-large {
  margin-bottom: $mb-large;
}

.mt-small {
  margin-top: $mt-small;
}

.mt-medium {
  margin-top: $mt-medium;
}

.mt-large {
  margin-top: $mt-large;
}

.mt-x-large {
  margin-top: 5rem;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
}
