$color-primary: rgb(22, 102, 61);

$color-secondary: rgba(255, 255, 255, 0.953);

//FONTS

$font-main: "Raleway", sans-serif;

$font-logo: "Fredoka One", cursive;

$font-secondary: "Passion One", cursive;

$font-medium: 2rem;

$font-large: 3.5rem;
