$color-primary: rgba(29, 97, 2, 0.75);
$color-primary-dark: rgba(23, 70, 4, 0.878);

$color-secondary: rgba(255, 255, 255, 0.953);

$color-tertiary: rgba(198, 198, 198, 0.926);

//FONTS

$font-main: "Raleway", sans-serif;

$font-logo: "Fredoka One", cursive;

$font-secondary: "Passion One", cursive;

$font-medium: 2rem;

$font-large: 3.5rem;

//UTILITIES

$mb-small: 1rem;

$mb-medium: 2rem;

$mb-large: 3rem;

$mt-small: 1rem;

$mt-medium: 2rem;

$mt-large: 3rem;
