.group-container {
  width: 100%;
  // margin: 3rem 10rem 1rem 10rem;
  // overflow: auto;

  // @media screen and (max-width: 1100px) {
  //   margin: 3rem 13rem 1rem 13rem;
  // }

  // @media screen and (max-width: 900px) {
  //   margin: 3rem 10rem 1rem 10rem;
  // }

  // @media screen and (max-width: 740px) {
  //   margin: 3rem 7rem 1rem 7rem;
  // }

  // @include respond(phone) {
  //   margin: 3rem 1rem 1rem 1rem;
  // }
}

.add-expense__header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-left,
  &-right,
  &-center {
    width: 33.33333%;
  }

  &-left {
    text-align: center;
  }

  &-center {
    @include respond(tab-port) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 740px) {
      font-size: 2.2rem;
    }

    @include respond(phone) {
      font-size: 2.7rem;
      width: 45%;
    }
  }
}

.user-checkbox {
  &__heading {
    font-size: 1.5rem;
    margin: 2rem 0 3rem 0;
  }

  &__names {
    font-size: 1.2rem;
    color: black;
  }
}

.checkbox {
  position: relative;

  &__button {
    &[type="checkbox"]:checked ~ .checkbox__image {
      opacity: 1;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__span {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    border: 2px solid $color-primary;
    display: inline-block;
  }

  &__image {
    position: absolute;
    height: 2.8rem;
    width: 2.8rem;
    top: -1rem;
    left: 0.8rem;
    opacity: 0;
  }
  // height: 3rem;
  // width: 3rem;
  // border-radius: 50%;
  // border: 5px solid $color-primary;
  // display: inline-block;
  // position: absolute;
  // left: 0;
  // top: -0.4rem;

  // &::after {
  //   content: "";
  //   display: block;
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   background-color: $color-primary;
  //   height: 1.5rem;
  //   width: 1.5rem;
  //   opacity: 0;
  //   transition: opacity 0.2s;
  // }
}
