.page-container {
  margin: 0 0;

  @include respond(phone) {
    margin: 0;
  }
}

.background-color {
  background-image: linear-gradient(
    to right,
    rgba(19, 18, 18, 0.8),
    rgba(29, 97, 2, 0.75)
  );
  overflow: auto;
}

.create-group-container {
  margin: 3rem 10rem;
  overflow: auto;

  @include respond(phone) {
    margin: 3rem 1rem;
  }
}

.create-group-background {
  border-radius: 20px;
  border: 3px solid darkgrey;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.6);
  background: $color-secondary;
}

.create-group-title {
  text-align: center;
  font-family: "Muli", "sans-serif";
  font-size: $font-large;
  margin: 2.5rem 0 2.5rem 0;

  @include respond(phone) {
    font-size: 3.8rem;
  }
}

.create-group-subtitle {
  font-size: $font-medium;
  // font-family: $font-main;
  margin: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}

.margin-top {
  margin-top: 2rem;
}

.user-box-title {
  margin-top: 1.5rem;
}

.user-box-username {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: "Muli", sans-serif;

  @include respond(tab-port) {
    font-size: 3rem;
    text-align: center;
  }

  @include respond(phone) {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 900px) {
  .users-box {
    margin-top: 2.5rem;
  }
}

.plus {
  font-size: 3rem;
  margin-left: 2px;
  margin-bottom: 3px;
}
