.overview {
  position: relative;

  &__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 5rem;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__heading {
    text-align: center;
    font-family: $font-main;
    font-weight: bold;
    font-size: $font-large;
    margin: 2.5rem 0 2.5rem 0;

    @include respond(phone) {
      margin-top: 5rem;
      width: 55%;
      margin-bottom: 4rem;
    }
  }

  &__username {
    font-size: 2.5rem;
  }

  &__mooch {
    color: red;
    margin-top: 1rem;
    display: inline-block;
  }

  &__financer {
    margin-top: 1rem;
    display: inline-block;
  }

  &__image {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 12%;
    right: 46.5%;

    @include respond(tab-port) {
      height: 7rem;
      width: 7rem;
      top: -3rem;
      right: 44%;
    }

    @media screen and(max-width: 815px) {
      height: 7rem;
      width: 7rem;
      top: 10rem;
      right: 45.5%;
    }

    @include respond(phone) {
      height: 7rem;
      width: 7rem;
      top: 14rem;
      right: 15rem;
    }
  }
}

.room {
  margin-bottom: 10rem;
}
