.login-main-background {
  background-image: linear-gradient(
      to right,
      rgba(63, 63, 63, 0.8),
      rgba(29, 97, 2, 0.75)
    ),
    url("./../images/moochPics/money_dollars_bills_background_surface_65906_1600x1200.jpg");
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.background-cover {
  background-image: linear-gradient(
    to right,
    rgba(63, 63, 63, 0.8),
    rgba(29, 97, 2, 0.488)
  );
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.login-container {
  margin: 2rem 16rem;

  @media screen and (max-width: 56.25em) {
    margin: 1rem 8rem;
  }

  @media screen and (max-width: 31.25em) {
    margin: 1rem 2rem;
  }
}

.login-box {
  border-radius: 30px;
  border: 6px solid rgba(0, 0, 0, 0.7);
  /* height: 80vh; */
  background-color: rgba(253, 253, 253, 1);
  padding: 2rem;
  zoom: 0.8;
}

.background-logo {
  background-color: rgba(253, 253, 253, 1);
  height: 20rem;
}

.login-title {
  font-size: $font-large;
  margin-bottom: $mb-medium;
  margin-top: $mt-small;
  line-height: 1.1;

  color: $color-primary-dark;
}

.login-logo {
  font-size: 9rem;
  color: $color-primary;
  font-family: $font-logo;
  margin-top: 3rem;
}

.login-subtitle {
  font-size: 2rem;
  margin-bottom: $mb-small;
  color: $color-primary;
  margin-top: 3rem;
}

.prime {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #eee;
}

.section-adjustment {
  padding-top: 0;
}

.img-dimension {
  height: 250px;
}

.img-fix {
  padding-left: 3rem;
}

main {
  flex: 1 0 auto;
}

.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #e91e63;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.login-font {
  // font-family: "Poiret One", cursive;
  font-size: 2rem;
}

.font-top {
  font-size: 30px;
}

.font-bottom {
  font-size: 18px;
}

.relative {
  position: relative;
}
