.groupBox {
  border: 1mm solid;
  width: 300px;
  height: 300px;
  margin: 25px 25px;
}

.addGroupBox {
  border: 1mm dashed;
  width: 300px;
  height: 300px;
  margin: 25px auto;
}

.plus {
  transform: scale(2.2);
  margin-top: 30%;
  margin-left: 45%;
  display: inline-block;
}

.plus:hover {
  cursor: pointer;
  transform: scale(2.6);
}

.plus:active {
  transform: scale(2.4);
}
