.padR {
  padding-right: 110px;
}

.padL {
  padding-left: 110px;
}

.navvy {
  /* background: rgb(22, 102, 61); */
  background: linear-gradient(to bottom, #f5f5f5, #d6d6d6);
  /* font-family: "Poiret One", cursive; */
  /* font-family: "Passion One", cursive; */
  font-family: "Fredoka One", cursive;
  color: black;
  border-bottom: 10px solid rgb(22, 102, 61);
  box-shadow: 0px 10px 15px black;
  /* font-family: "Prosto One", cursive; */
  /* font-family: "Cabin Sketch", cursive; */
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: "Bubblegum Sans", cursive; */
  /* font-family: "Pompiere", cursive; */
  /* font-family: "Londrina Solid", cursive; */
}

.medium-size {
  font-size: 25px;
  color: black;
}

.large-size {
  font-size: 60px;
  margin: 0 auto;
}
