.loginContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100px;
  width: 80%;
  margin: 100px auto;
  flex-flow: column;
}