.footer {
  background-color: rgb(29, 97, 2);
  height: 10rem;
  position: relative;
}

.footer-accent {
  background-color: $color-primary-dark;
  height: 2rem;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // z-index: 10;
}

.footer-name {
  color: $color-secondary;
  position: absolute;
  top: 50%;
  left: 40%;

  @include respond(tab-port) {
    left: 35%;
  }

  @include respond(phone) {
    top: 30%;
    left: 30%;
  }
}

.icon {
  font-size: 3rem;
  color: $color-secondary;
  margin-right: 2rem;
  margin-top: 2rem;
  position: absolute;

  &--1 {
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
      top: 25%;
      left: 55%;
    }

    @include respond(phone) {
      top: 45%;
      left: 43%;
    }
  }

  &--2 {
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
      top: 25%;
      left: 60%;
    }

    @include respond(phone) {
      top: 45%;
      left: 58%;
    }
  }
}
