.navigation {
  background-image: url("./../images/moochPics/concrete_seamless.png");
  height: 6rem;
  border-bottom: 5px solid $color-primary;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__link-right,
  &__link-left,
  &__logo {
    color: black;
    display: inline-block;
    font-family: $font-logo;
  }

  &__logo {
    font-size: 4rem;

    @include respond(phone) {
      font-size: 4rem;
    }
  }

  &__link-left {
    font-size: 2rem;
    transition: all 0.2s;

    align-self: stretch;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      transform: skewX(-8deg) scale(1.07);
    }

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__link-right {
    font-size: 2rem;
    transition: all 0.2s;

    align-self: stretch;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      transform: skewX(-8deg) scale(1.07);
    }

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}
