.add-group-box {
  font-family: "Cabin Sketch", cursive;
  border: 2px solid rgb(22, 102, 61);
  background: linear-gradient(to bottom right, white, rgb(177, 177, 177));
  width: 300px;
  height: 90px;
  margin: 25px auto;
  border-radius: 25px;
  box-shadow: 3px 9px 15px black;
}

.add-group-box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.add-group-box:active {
  box-shadow: 1px 5px 10px black;
  transform: scale(0.99);
}

.add-group-box-text {
  text-align: center;
  font-size: 3.8rem;
}
