.create-group-container {
  width: 80%;
}

.create-group-background {
  border-radius: 20px;
  border: 4px solid darkgrey;
  /* padding: 30px 50px; */
  box-shadow: 1px 3px 15px black;
  font-family: "Passion One", cursive;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.953);
  width: 100%;
  margin: 0 auto;
}

.create-group-title {
  margin-top: 1.5rem;
  text-align: center;
}

.add-user-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: white;
  background-color: rgb(22, 102, 61);
  box-shadow: 0.1rem 0.5rem 1rem darkgrey;
  transition: 0.3s ease;
  margin: 0.5rem auto;
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  display: block;
  position: relative;
}

.plus {
  /* margin: 0 1.35rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  font-size: 5rem;
}

.add-user-button:hover {
  box-shadow: 0.1rem 0.7rem 1.3rem darkgrey;
  background-color: rgb(18, 84, 50);
  transform: translateY(-0.2rem) scale(1.04);
}

.add-user-button:active {
  box-shadow: 0.1rem 0.4rem 0.9rem darkgrey;
  transform: translateY(0) scale(0.9);
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}

.margin-top {
  margin-top: 5rem;
}

.button {
  background-color: rgb(22, 102, 61);
  border-radius: 15px;
  box-shadow: 2px 5px 10px darkgrey;
  color: white;
  padding: 1.5rem;
  display: block;
  margin: 2.5rem auto 1rem auto;
  transition: 0.2s ease;
  font-family: "Raleway", sans-serif;
}

.button:hover {
  transform: translateY(-0.2rem) scale(1.05);
  box-shadow: 0.3rem 0.8rem 1.5rem darkgrey;
  cursor: pointer;
}

.button:active {
  transform: translateY(0) scale(1.02);
  box-shadow: 0.1rem 0.5rem 1rem darkgrey;
}

.user-box-title {
  margin-top: 1.5rem;
}

.user-box-username {
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
}

/* .delete-button {
  font-size: 20px;
  margin-top: 5px;
  height: 35px;
  width: 100%;
  color: white;
  background: rgb(150, 31, 31);
  border-radius: 5px;
  box-shadow: 1px 1px 10px black, -1px -1px 10px black;
} */

.delete-button {
  background-color: rgb(150, 31, 31);
  height: 3rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 1rem darkgrey;
}

.delete-button:hover {
  transform: translateY(-0.2rem) scale(1.04);
}

.delete-button:active {
  transform: scale(1);
}

.delete-button-x {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
}

.mt-small {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .users-box {
    margin-top: 2.5rem;
  }
}
