@import "./views/Login/Login.css";
@import "./views/Group/styles/Group.css";
@import "./views/Dashboard/Dashboard.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* this defines what 1rem is (10px if user doesn't change it on their browser) */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.margin-top-small {
  margin-top: 1.5rem;
}

.margin-bottom-medium {
  margin-bottom: 2.5rem;
}
