html {
  zoom: 0.8;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.prime {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #eee;
}

.section-adjustment {
  padding-top: 0;
}

.responsive-img {
  width: 250px;
}

main {
  flex: 1 0 auto;
}

body {
  background: url("./../../images/moochPics/black_background_lines_scratches_69440_1600x1200.jpg");
}

.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #e91e63;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.login-background {
  border-radius: 30px;
  border: 6px solid rgb(116, 115, 118);
}

.login-button {
  background-color: rgb(22, 102, 61);
  border-radius: 15px;
}

.login-font {
  font-family: "Poiret One", cursive;
}

.font-top {
  font-size: 30px;
}

.font-bottom {
  font-size: 18px;
}

.login-button:hover {
  transform: scale(1.1);
  background-color: rgb(17, 79, 47);
}

.login-main-back {
  /* background: url("./../../images/moochPics/style_creative_background_pattern_texture_50387_1920x1200.jpg") */
}
