.login-main-background {
  background-image: linear-gradient(
      to right,
      rgba(19, 18, 18, 0.8),
      rgba(29, 97, 2, 0.8)
    ),
    url("./../../images/moochPics/money_dollars_bills_background_surface_65906_1600x1200.jpg");
  background-size: cover;
  height: 100vh;
}

.prime {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #eee;
}

.section-adjustment {
  padding-top: 0;
}

.img-dimension {
  height: 250px;
}

.img-fix {
  padding-left: 3rem;
}

main {
  flex: 1 0 auto;
}

.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #e91e63;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.login-box {
  border-radius: 30px;
  border: 6px solid rgb(116, 115, 118);
  /* height: 80vh; */
  background-color: #f5f5f5;
  padding: 2rem;
}

.login-font {
  font-family: "Poiret One", cursive;
}

.font-top {
  font-size: 30px;
}

.font-bottom {
  font-size: 18px;
}

.main-button {
  background-color: rgb(22, 102, 61);
  border-radius: 15px;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  box-shadow: 0 0.8rem 1.7rem rgba(19, 18, 18, 0.8);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.main-button:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(19, 18, 18, 0.8);
  background-color: rgb(17, 79, 47);
}

.main-button:active {
  transform: scale(0.98);
  box-shadow: 0 0.7rem 1.5rem rgba(19, 18, 18, 0.8);
}

.back-button {
  color: rgb(22, 102, 61);
  font-size: 2rem;
  cursor: pointer;
  transform: all 0.2s;
}

.back-button:hover {
  transform: scale(1.07);
}

@media screen and (max-width: 500px) {
  .back-button {
    font-size: 1rem;
  }
}
